@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Login with</h2>
        <ul>
            <li>a@b.c</li>
            <li>Password??123</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2></h2>
    </div>
</div>
