@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h4>Login with</h4>
        <ul>
            <li>a@b.c</li>
            <li>Password??123</li>
        </ul>

        <h4>Technologies</h4>
        <ul>
            <li>Visual studio 2017</li>
            <li>Asp.net core 2.0</li>
            <li>C# 6</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2></h2>
    </div>
</div>
