
@model StatisticsModel

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="stat-block"> Employees total <span class="badge"> @Model.NumberOfEmployees </span></div>
        <span class="text-muted"></span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="stat-block"> Birth Days <span class="badge"> @Model.BirthDays </span></div>
        <span class="text-muted"></span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="stat-block"> Positions <span class="badge"> @Model.Positions </span></div>
        <span class="text-muted"></span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="stat-block"> Reviews <span class="badge"> @Model.Reviews </span></div>
        <span class="text-muted"></span>
    </div>


</div>

